---
layout: default
---
<script src="{{ "/styles/index.js" | prepend: site.baseurl }}"></script>
<div>
  <a id="projects-btn" class="waves-effect waves-teal btn-flat btn-large button-bounds" onclick="GameDevDiary.show_section('projects');">{{ site.projects_btn }}</a>
  <a id="posts-btn" class="waves-effect waves-teal btn-flat btn-large button-bounds" onclick="GameDevDiary.show_section('posts');">{{ site.posts_btn }}</a>
  <a id="about-btn" class="waves-effect waves-teal btn-flat btn-large button-bounds" onclick="GameDevDiary.show_section('about');">{{ site.about_btn }}</a>
</div>


<div id="cool-stuff">
  {% include showcase.html %}
</div>

<div id="projects">
  {% include projects.html %}
  <div>
    <a onclick="GameDevDiary.show_section('cool-stuff');" class="waves-effect waves-teal btn-flat btn-large">{{ site.close_btn }}</a>
  </div>
</div>

<div id="posts">
  {% include year-archive.html %}
  <div>
    <a onclick="GameDevDiary.show_section('cool-stuff');" class="waves-effect waves-teal btn-flat btn-large">{{
      site.close_btn }}</a>
  </div>
</div>

<div id="about" style="display: none">
  <h2 class="my-mini-heading">{{ site.about_btn }}</h2>
  <ul>
    <li>
      {% include_relative pages/about.html %}
    </li>
  </ul>

  <div>
    <a onclick="GameDevDiary.show_section('cool-stuff');" class="waves-effect waves-teal btn-flat btn-large">{{ site.close_btn }}</a>
  </div>
</div>
