<div id="tags">
  {% assign rawtags = "" %}
  {% for post in site.posts %}
    {% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
  {% assign rawtags = rawtags | split:'|' | sort %}
  {% assign tags = "" %}
  {% for tag in rawtags %}
    {% if tag != "" %}
      {% if tags == "" %}
        {% assign tags = tag | split:'|' %}
      {% endif %}
      {% unless tags contains tag %}
        {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  {%for tag in tags %}
    <h2 class="my-mini-heading">{{ tag }}</h2>
    <ul>
      {%for post in site.posts %}
        {% if post.tags contains tag %}
          <li>
            <p class="my-item">
              <a href="{{ post.url | prepend: site.baseurl }}" class="my-link">{{ post.title }}</a><br>
              <span class="my-item-sub">{{ post.date | date: "%b %-d, %Y" }}</span><br>
              {{ post.content | strip_html | truncatewords: 20 }}
            </p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
